.blue {
    background: #0c1828;
}

.grey {
    background: #392f37;
}

.brown {
    background: var(--dark-red);
}

.margintop05 {
    margin-top: 0.5rem;
}

.main-content {
    width: 1200px;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    place-items: center;
    word-wrap: break-word;
    padding: 3rem 0;
}

.main-content.centered {
    grid-template-columns: unset;
}

.half-image {
    width: 44%;
    margin: 0 0.5rem;
}

.full-image {
    width: 100%;
}

.grid-item h2 {
    font-family: cupcake;
    font-size: 2.3rem;
    color: var(--lemon);
}

.grid-item h3 {
    font-family: cupcake;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.grid-item p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

select {
    font: inherit;
    color: white;
    background: none;
    border: white 1px solid;
    padding: 0.5em;
    transition: all 0.1s ease-in-out;
    width: 70%;
}

option {
    background: var(--dark-red);
}

.centered .grid-item {
    width: 50%;
}

.menu-item {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1220px) {
    .main-content {
        width: 850px;
    }

    .grid-item p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 890px) {
    .navbar {
        display: grid;
        place-items: center;
        justify-content: unset;
        padding-top: 0.5rem;
    }

    #nav-img {
        width: 500px;
    }

    .links {
        margin: 0.7rem 0;
        font-size: 0.8rem;
    }

    .inside-header h1 {
        font-size: 2.5rem;
    }

    .header-content {
        background-position-x: 50%;
    }

    .main-content {
        grid-template-columns: 1fr;
        gap: 0rem;
        width: 90%;
    }

    .centered .grid-item {
        width: 90%;
    }

    .half-image {
        width: 30%;
    }

    .full-image {
        width: 80%;
    }
}

@media only screen and (max-width: 520px) {
    .half-image {
        width: 42%;
    }

    .full-image {
        width: 100%;
    }

    #nav-img {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    .header-content {
        height: 400px;
    }

    .links {
        margin: 0.5rem 0;
        font-size: 0.6rem;
        /* align-items: center;
        justify-content: center; */
    }

    .inside-header h1 {
        font-size: 2rem;
    }

    .grid-item h2 {
        font-size: 1.8rem;
    }

    .grid-item h3 {
        font-size: 1rem;
    }

    .grid-item p {
        font-size: 0.7rem;
        line-height: 1rem;
    }

    select {
        font-size: 0.7rem !important;
    }

    .links a {
        padding: 7px;
    }
}
