.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: var(--white);
    user-select: none;
}

#nav-img {
    width: 500px;
}

.navbar a {
    text-decoration: none;
}

.links {
    display: flex;
}

.links a {
    margin-right: 0.5rem;
    border-radius: 5px;
    background-color: var(--dark-orange);
    padding: 10px;
    color: var(--brown);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover {
    color: var(--brown-opaque);
}

.header-content {
    height: 450px;
    background-image: url(../resources/menu/alexandrian-foul-min.jpg);
    background-size: cover;
    background-position-x: 25%;
    background-position-y: 38%;
    color: white;
    display: grid;
    place-items: center;
}

.inside-header {
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid white;
    background: rgba(0, 0, 0, 0.1);
    user-select: none;
}

.inside-header h1 {
    font-size: 5rem;
    font-family: cupcake, cursive;
}
