@font-face {
  font-family: cupcake;
  src: url(../fonts/cupcake.woff);
  font-display: swap;
}

@font-face {
  font-family: Kufam;
  src: url(../fonts/kufam.ttf);
  font-display: swap;
}

.arabic h1,
.arabic h2,
.arabic h3 {
  font-family: 'Kufam', 'cursive' !important;
}

:root {
  --brown: #391f01;
  --brown-opaque: rgba(57, 31, 1, 0.7);
  --orange: rgba(252, 142, 97, 0.3);
  --heavy-orange: rgba(248, 133, 82);
  --lemon: rgb(85, 65, 55);
  --dark-yellow: rgba(190, 170, 133);
  --dark-orange: #ee7f4e78;
  --wheat: #daccbb;
  --dark-red: #271117;
  --white: #f4f0e6;
  --title-font-size: 5rem;
}

::selection {
  background-color: #076286;
  color: white;
}

body {
  overflow-x: hidden;
  margin: 0;
  background: var(--white);
  font-family: 'Dejavu Sans';
}

.white {
  background: var(--white);
}

.orange {
  background: #bf8f4f;
}

a {
  color: var(--lemon);
}

p > a:hover {
  opacity: 0.8;
}

.arabic {
  direction: rtl !important;
}

.arabic p {
  font-family: 'Dejavu Sans', 'sans-serif' !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: var(--white);
  user-select: none;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  box-shadow: 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.04), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.04);
  z-index: 1000;
}

#nav-img {
  width: 500px;
}

.navbar a {
  text-decoration: none;
}

.links {
  display: flex;
}

.links a {
  border-radius: 5px;
  color: var(--brown);
  cursor: pointer;
}

.links a:hover {
  color: var(--brown-opaque);
}

.header-content {
  height: 450px;
  background-image: url(../resources/menu/alexandrian-foul-min.jpg);
  background-size: cover;
  background-position-x: 25%;
  background-position-y: 38%;
  color: white;
  display: grid;
  place-items: center;
}

.header-content h1 {
  font-size: var(--title-font-size);
  font-family: cupcake, cursive;
  user-select: none;
  text-shadow: 0px 0px 2rem #000;
}

.grid {
  width: 1200px;
  margin: auto;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  place-items: center;
  word-wrap: break-word;
  padding: 3rem 0;
}

.grid.footer {
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.half-image {
  width: 44%;
  margin: 0 0.5rem;
  object-fit: cover;
  height: 280px;
  object-position: 51%;
}

.full-image {
  width: 80%;
  height: 430px;
  background-size: cover;
  background-position: 54%;
  background-image: url(../resources/menu/egyptian-style-beef-shawarma-in-a-bun.jpg);
  display: inline-grid;
  place-items: center;
}

.full-image:hover > .play {
  opacity: 0.8;
}

.play {
  padding: calc(var(--title-font-size) / 5);
  border: solid calc(var(--title-font-size) / 10) var(--white);
  border-radius: 12px;
  box-shadow: 2px 2px 16px #212121;
  transition: all 0.1s;
}

.grid-item {
  width: 100%;
}

.grid-item h2 {
  font-family: cupcake, cursive;
  font-size: 2.3rem;
  color: var(--lemon);
}

.grid-item h3 {
  font-family: cupcake, cursive;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: var(--lemon);
}

.grid-item p,
.main-button {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.grid-item.span1 {
  grid-column: span 1;
}

.grid-item.span2 {
  grid-column: span 2;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  color: unset;
}

.icons a:hover {
  opacity: 0.8;
}

.icons img {
  margin: 0 1rem;
  transition: all ease-in 0.1s;
  cursor: pointer;
}

.main-button {
  display: inline-block;
  padding: 0.65em 2.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 0.1s;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.main-button:hover {
  color: var(--white);
  border-color: var(--lemon);
  background-color: var(--lemon);
}

#menu {
  scroll-margin-top: 50vh;
}

@media only screen and (max-width: 1220px) {
  .grid {
    width: 850px;
  }

  .grid-item p,
  .main-button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 890px) {
  #nav-img {
    width: 90%;
  }

  .links {
    margin: 0.7rem 0;
    font-size: 0.8rem;
  }

  :root {
    --title-font-size: 3rem;
  }

  .header-content {
    background-position-x: 45%;
  }

  .grid {
    gap: 0.5rem;
    width: 90%;
  }

  .grid-item {
    grid-column: span 2;
  }

  .grid-item.images-by-side {
    display: none;
  }

  .half-image {
    width: 30%;
  }

  .full-image {
    width: 80%;
    height: 380px;
  }
}

@media only screen and (max-width: 520px) {
  :root {
    --title-font-size: 2.5rem;
  }
  .half-image {
    width: 43%;
    height: 200px;
  }

  .full-image {
    width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width: 350px) {
  .header-content {
    height: 400px;
  }

  .links {
    margin: 0.5rem 0;
    font-size: 0.6rem;
    /* align-items: center;
        justify-content: center; */
  }

  :root {
    --title-font-size: 2rem;
  }

  .grid-item h2 {
    font-size: 1.8rem;
  }

  .grid-item h3 {
    font-size: 1rem;
  }

  .grid-item p,
  .main-button {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  select {
    font-size: 0.7rem !important;
  }

  .links a {
    padding: 7px;
  }
}
